<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="/">
	<link rel="stylesheet" href="styles.css">
	<title><%=blog.name%></title>
</head>
<body>
	<h1><%=blog.name%></h1>
	<p><%=blog.subscribers%></p>
	<p><%=blog.description%></p>
	<% for(let post of blog.posts) { %>
		<h2><%= post.title %></h2>
		<p><%= post.author %></p>
		<% if(post.img){ %>
			<img src="<%= post.img %>" alt="imagen" width="150px" height="150px">
		<% } %>
	<% } %>
</body>
</html>